
@use "./theme" as *;

// Top Navbar Styles
.navbar-logo {
  text-align: left;

  @media screen and (min-width: $tablet) {
      text-align: center;
  }
}

.navbar-logo>svg [fill]:not([fill=none]) {
  fill: currentColor !important
}

.navbar-logo>svg {
  display: block;
  margin: 0 auto;
  opacity: 0.8;
  transform: translateY(2px);
  width: 3rem;
  height: 3rem;

  @media screen and (min-width: $tablet) {
      width: 3rem;
      height: 3rem;
  }
}

.navbar-brand > a.navbar-item.navbar-logo,
.navbar-brand > .navbar-item.navbar-logo {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  min-height: 3.25rem;
  min-width: 3.25rem;
  line-height: 0;
  padding: 0.35rem;
  background: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: inherit !important;
  outline: none !important;
}

.navbar-burger{
  border-radius: 0.55rem;
}

.navbar-burger:focus {
  outline: none;
  text-decoration: none;
  background: transparent;
}

.navbar-menu{
  box-shadow: none !important;
}

.navbar {
  align-items: center;
  display: flex;
  min-height: 100%;
}

.navbar-brand,
.navbar-menu,
.navbar-end {
  align-items: center;
}

.navbar-end{
  .navbar-item{
    border-radius: 0.55rem;
    padding: 0.55rem 1.25rem;
    font-weight: 600;
    color: lighten($dark, 20%);

    @include touch{
      margin-top: 1rem;
    }
  }

  .navbar-item:not(:last-child){
    @include desktop{
      margin-right: 1rem;
    }
  }

  .navbar-item.is-active{
    color: #fff;
    background: #2c2e33 !important;
  }
}
